*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 1rem 0;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.active-modal {
  display: block;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0 auto; /*15% from the top and centered */
  padding: 1rem 2rem;
  border: 1px solid #888;
  max-width: 1000px;
  width: 80%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

/* The Close Button */
.close {
  color: #aaa;
  text-align: right;
  font-size: 1.9rem;
  font-weight: bold;
  align-self: flex-end;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.search-input {
  background: url(./search.svg) no-repeat 10px center;
  background-size: 2rem;
  margin-top: 1rem;
  width: 400px;
  padding: 0.7rem 0.5rem;
  padding-left: 3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  outline: none;
  transition: width 0.3s ease, border-color 0.3s ease;
}

.search-input:hover {
  border-width: 2px;
  border-color: #999;
}

.search-input:focus {
  width: calc(100% - 2rem);
  border-width: 2px;
  border-color: #333;
}

.recipes {
  padding: 1rem;
  position: relative;
}

.tag {
  padding: 0.5rem 1rem;
  background: #fff;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0.5rem 0 0;
  position: absolute;
  top: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.recipe {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.recipe__image {
  min-width: 350px;
  width: 100%;
  max-width: 600px;
  object-fit: cover;
}

.recipe__name {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
  color: black;
  background: white;
}

.single-recipe {
  box-shadow: none;
}

.single-recipe-img {
  max-width: 1000px;
}

.recipe__instructions {
  margin: 1rem 0;
  padding: 0 1rem;
  letter-spacing: 0.7px;
}

.recipe_ingredients {
  margin: 1rem 0;
  padding: 0 1rem;
}

.recipe_ingredient {
  margin-bottom: 0.5rem;
  font-weight: bold;
  list-style: disc;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.next {
  background: url(./next.png) no-repeat center;
  background-size: 2rem;
  width: 2rem;
  height: 2rem;
  border: none;
}

.pagination__item {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination__item--active {
  background: #333;
  color: #fff;
}

.pagination__item--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination__item:hover {
  background: #333;
  color: #fff;
}

@media screen and (max-width: 460px) {
  .recipe__name {
    font-size: 1.5rem;
  }
  .modal-content {
    width: 100%;
    min-width: 0;
    padding: 0.5rem;
  }

  .tag {
    font-size: 0.8rem;
  }

  .search-input {
    font-size: 1rem;
    width: calc(100% - 2rem);
  }

  .recipe__image {
    min-width: 100%;
  }
}
